.action-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  .input-field {
    flex: 1;
    min-width: 200px;
    margin-bottom: -1.25em; 
  }

  button {
      margin-bottom: 4px;
  }
}