<form [formGroup]="formEgreso" (submit)="addEgreso()" class="action-form">
  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Concepto</mat-label>
    <input matInput formControlName="concepto" placeholder="Ej. Renta">
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-field">
    <mat-label>Monto</mat-label>
    <span matTextPrefix>$&nbsp;</span>
    <input matInput type="number" formControlName="monto_egreso" placeholder="0.00">
  </mat-form-field>

  <button mat-mini-fab color="warn" type="submit" [disabled]="formEgreso.invalid" aria-label="Agregar egreso">
    <mat-icon>add</mat-icon>
  </button>
</form>
