.egreso-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow: auto;
  max-height: 400px;
  margin-bottom: 16px;
  
  table {
    width: 100%;
  }
}

.amount-negative {
  color: #c62828;
  font-weight: 500;
}

.formulario {
  padding-top: 16px;
  border-top: 1px solid #eee;
}