.ingreso-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.table-container {
  overflow: auto;
  max-height: 400px;
  margin-bottom: 16px;
  
  table {
    width: 100%;
  }
}

.amount-positive {
  color: #2e7d32;
  font-weight: 500;
}

.formulario {
  padding-top: 16px;
  border-top: 1px solid #eee;
}

/* Styles for the sub-component form - using deep selector or global styles could work but here we can rely on view encapsulation of the form component if we put styles there. 
   Process: I'll put form styles in form-ingreso.component.scss mostly, but here I handle container 
*/