.action-form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;

  .input-field {
    flex: 1;
    min-width: 200px;
    
    /* Remove bottom margin default in mat-form-field if needed */
    margin-bottom: -1.25em; 
  }
  
  button {
      margin-bottom: 4px; /* Align with input */
  }
}